@import url(http://fonts.googleapis.com/css?family=Crete+Round);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url('http://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* General document styles */
* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Secular One', sans-serif;

}

h1 {
    display: inline-block;
    width: auto;
    background-color: rgb(222, 31, 66);
    color: white;
    padding: 5px 15px;
    margin-left: -30px;
}

body {
  background-color: rgba(15,24,34,255);
}

a {
    color: rgb(180, 31, 66);
    text-decoration: none;
}

.logo {
    display: inline-block;
    font-family: 'VALORANT', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: white;
	font-weight:bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}

}

/* Nav styles */
nav {
    background-color: rgb(250, 68, 84);
	font-size:25px;
	font-family: 'VALORANT', sans-serif;
	font-weight:lighter;
	border-bottom: 5px white solid;

}

nav > ul > li {
    display: inline-block;
    padding: 20px;
}

nav > ul > li:hover {
    background-color: rgb(180, 31, 66);
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: white;
}

.title {
  text-align: center;
}

.agents {
  text-align: center;
  line-height: 100px;
}
